.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chats-section
{
   
    padding: 30px;
}
.head
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
   background-color: rgb(127, 231, 224);
    padding: 20px;
}
.top
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.settings
{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
.buttons
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid seashell;
    margin-bottom: 0px;
}
.buttons
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}
.chats-area
{
    border: 1px solid grey;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.chats
{
    border: 1px solid lightgrey;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
